.paquete {
  background-color: #F6F4F3;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  width: 100%;
  max-width: 320px;
  transition: transform 0.3s ease;
  text-align: left;
}

.paquete:hover {
  transform: translateY(-5px);
}

.paquete__titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-texto);
}

.paquete__lista {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.paquete__item {
  position: relative;
  padding-left: 1.2rem;
  margin-bottom: 0.8rem;
  color: var(--color-texto);
}

.paquete__item::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #c2b49e;
  font-size: 1.2rem;
  line-height: 1;
}

.paquete__btn {
  background-color:#c2b49e;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.paquete__btn:hover {
  background-color: #a99e86;
}
